.text2{
    text-align: center;
    color:snow;
    padding-top: 30px;
    font-size: 40px;
}
   
input{
    border-radius: 25px;
    background-color: snow;
    border: snow 1px solid;
    padding: 10px;
}

.Initials{
    display: flex;
    justify-content: space-evenly;
}

.Niche{
    margin: 37px;
    width: 340px;
}

.Info{
    margin-left: 37px;
    width: 340px;
    margin-bottom: 25px;
}
