.Container{
    display: flex;
}
.Questions{
    width: 500px;
}

.Results{
    border: 10px solid #e56544;
    border-radius: 25px;
    height: 800px;
    width: 850px;
    margin: 30px;
}

/*CopyrightSection*/
.CopyrightSection{
    margin: 30px;
    background-color: #e56544;
    border-radius: 25px;
}

.text1{
    display: flex;
    justify-content: space-around;
    color:snow;
    font-size: 40px;
}

button{
    background-color: snow;
    border: snow 1px solid;
    border-radius: 25px;
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
}

#MadeBy, a{
    padding-left: 20px;
    padding-bottom: 35px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/*PersonalDataSection*/

.PersonalDataSection{
    margin: 30px;
    background-color: #e56544;
    border-radius: 25px;
}
.text2{
    text-align: center;
    color:snow;
    padding-top: 30px;
    font-size: 40px;
}
   
input{
    border-radius: 25px;
    background-color: snow;
    border: snow 1px solid;
    padding: 10px;
}

.Initials{
    display: flex;
    justify-content: space-evenly;
}

.Niche{
    margin: 37px;
    width: 340px;
}

.Info{
    margin-left: 37px;
    width: 340px;
    margin-bottom: 25px;
}

/*WorkExpSection*/

.WorkExpSection{
    margin: 30px;
    background-color: #e56544;
    border-radius: 25px;
}
.text3{
    padding-top: 30px;   
    text-align: center;
    color:snow;
    font-size: 40px;
}

.JobButton{
    margin: 30px;
}